.form{
    width: 820px;
    background-color: white;
   border-color: darkgrey;
}
.ttl{
    padding-top: 20px;
    margin-left: 50px;
    
}
.input-group{
    padding-left: 90px;
}
.input-style{
    width: 650px;
    height: 30px;
}
.input-group1{
    padding-left: 110px;
}
.button{
    margin-left: 740px;
    height: 40px;
    width: 80px;
    background-color: rgb(6, 6, 120);
    color: white;
    font-size: 13px;
    margin-bottom: 40px;
    border-radius: 4px;
    border-color: rgb(6, 6, 120);
}
button:hover{
    cursor:pointer;
}
.text-danger{
    margin-top: 36px;
    position: absolute;
    margin-left: -658px;
    color: red;
}