<form class="form">
   <div class="sub-form">
      <h3 class="title-color">Employee Onboarding</h3>
      <div class="progressbar margin-for-steps">
         <div class="progress-step progress-step-active" data-title="Details">
         </div>
         <div class="progress-step" data-title="Document">
         </div>
         <div class="progress-step" data-title="Preview">
         </div>
      </div>
      <div class="form-step form-step-active">
         <app-personal-details  ></app-personal-details>
      </div>
      <div class="form-step form-step-active">
         <app-document-details class="form-step"></app-document-details>
      </div>
      <div class="form-step form-step-active">
         <app-preview class="form-step"></app-preview>
      </div>
   </div>
</form>